<!DOCTYPE html>
<head>
    <title>Subject Selection</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <form action="{{url_for('process_res')}}">
        <input type="text" name="lvl" value="{{ lvl }}" hidden>   <!-- dirty trick, use this to pass values to next page without letting the user to see-->
        <h1>Subjects</h1>
        <p>
            Here are the compulsory subjects for Secondary {{ lvl }}
        </p>
        <p>
            <ul>
                {% for row in compul_subj %}
                <li>{{ row[0] }}</li>
                {% endfor %}
            </ul>
        </p>
        <p>
            Please select the Science subjects you are taking:
        </p>
        <p>
            <ul>
                {% for row in opt_sci_subj %}
                <li>
                    <input type="checkbox" name="opt_sci_subj" id="{{ row[1] }}" value="{{ row[1] }}">
                    <label for="{{ row[1] }}">{{ row[0] }}</label>
                </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            Please select the Humanities subjects you are taking:
        </p>
        <p>
            <ul>
                {% for row in opt_hum_subj %}
                <li>
                    <input type="checkbox" name="opt_hum_subj" id="{{ row[1] }}" value="{{ row[1] }}">
                    <label for="{{ row[1] }}">{{ row[0] }}</label>
                </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>